<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.ClassSpaceMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.ClassSpace" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="ClassId" property="classid" jdbcType="INTEGER" />
    <result column="MsgContent" property="msgcontent" jdbcType="VARCHAR" />
    <result column="PublisherId" property="publisherid" jdbcType="INTEGER" />
    <result column="PublishDate" property="publishdate" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, ClassId, MsgContent, PublisherId, PublishDate, Status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ClassSpace
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ClassSpace
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.ClassSpace" >
    insert into ClassSpace (TabId, ClassId, MsgContent, 
      PublisherId, PublishDate, Status
      )
    values (#{tabid,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{msgcontent,jdbcType=VARCHAR}, 
      #{publisherid,jdbcType=INTEGER}, #{publishdate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.ClassSpace" >
    insert into ClassSpace
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="classid != null" >
        ClassId,
      </if>
      <if test="msgcontent != null" >
        MsgContent,
      </if>
      <if test="publisherid != null" >
        PublisherId,
      </if>
      <if test="publishdate != null" >
        PublishDate,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="msgcontent != null" >
        #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="publisherid != null" >
        #{publisherid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null" >
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.ClassSpace" >
    update ClassSpace
    <set >
      <if test="classid != null" >
        ClassId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="msgcontent != null" >
        MsgContent = #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="publisherid != null" >
        PublisherId = #{publisherid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null" >
        PublishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.ClassSpace" >
    update ClassSpace
    set ClassId = #{classid,jdbcType=INTEGER},
      MsgContent = #{msgcontent,jdbcType=VARCHAR},
      PublisherId = #{publisherid,jdbcType=INTEGER},
      PublishDate = #{publishdate,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  
  <!-- 获取所有班级空间的信息 -->
  <select id="getAllClassSpace" resultType="com.goldeneyes.pojo.ClassSpace">
  	select TabId, ClassId, MsgContent, PublisherId, PublishDate 
  	from ClassSpace where Status = 1 order by PublishDate desc
  </select>
  
  <!-- 取班级空间表的最大ID+1 -->
  <select id="getMaxId" resultType="java.lang.Integer">
  	select MAX(c.TabId) + 1 from ClassSpace c
  </select>
  
  <!-- 获取用户未读班级空间条数 -->
  <select id="getNoReadClassSpacesCntByUser" resultType="java.lang.Integer">
  	select COUNT(c.TabId) 
  	from SpaceContentStatus ss,ClassSpace c 
  	where ss.SpaceId=c.TabId and ss.IsRead=0 and c.Status=1 and ss.SpaceType=1 and ss.UserId = #{0}
  </select>
  <!-- 获取用户未读班级空间列表 -->
  <select id="getNoReadClassSpacesByUser" resultType="com.goldeneyes.pojo.ClassSpace">
  	select c.ClassId,c.MsgContent,c.PublisherId,c.PublishDate 
  	from SpaceContentStatus ss,ClassSpace c 
  	where ss.SpaceId=c.TabId and ss.IsRead=0 and c.Status=1 and ss.SpaceType=1 and ss.UserId = #{0}
  	order by c.PublishDate desc
  </select>
  <!-- 获取用户某条班级空间是否点赞 -->
  <select id="getIsLikeClassSpaceByUser" resultType="java.lang.Integer">
  	select count(ss.IsLike) likeCnt 
  	from SpaceContentStatus ss 
	where ss.SpaceType=1 and ss.SpaceId = #{0} and ss.UserId = #{1}
  </select>
  <!-- 获取班级空间所有点赞用户 -->
  <select id="getIsLikeUsersByClassSpace" resultType="java.lang.Integer">
  	select ss.UserId 
  	from SpaceContentStatus ss 
  	where ss.SpaceType = 1 and ss.IsLike = 1 and ss.SpaceId = #{0}
  </select>
  <!-- 获取某学生班级空间列表 -->
  <select id="getClassSpacesByClass" resultType="com.goldeneyes.pojo.ClassSpace">
  	select c.TabId,c.MsgContent,c.PublisherId,c.PublishDate 
  	from ClassSpace c 
  	where c.Status = 1 and c.ClassId = #{0}
	order by c.PublishDate desc
  </select>
  <!-- 获取某条班级空间信息 -->
  <select id="getClassSpaceById" resultType="com.goldeneyes.pojo.ClassSpace">
  	select c.TabId,c.ClassId,c.MsgContent,c.PublisherId,c.PublishDate 
  	from ClassSpace c 
  	where c.Status = 1 and c.TabId = #{0}
  </select>
  <!-- 屏蔽某学生某班级空间信息 -->
  <update id="offClassSpaceByClass" parameterType="com.goldeneyes.pojo.ClassSpace" >
    update ClassSpace
    set 
      Status = 0
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
</mapper>