<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.UserSpaceMsgMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.UserSpaceMsg" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="UserSpaceId" property="userspaceid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="MsgContent" property="msgcontent" jdbcType="VARCHAR" />
    <result column="ReplyId" property="replyid" jdbcType="INTEGER" />
    <result column="MsgDate" property="msgdate" jdbcType="TIMESTAMP" />
    <result column="ReplyStatus" property="replystatus" jdbcType="TINYINT" />
    <result column="ReplyDate" property="replydate" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, UserSpaceId, UserId, MsgContent, ReplyId, MsgDate, ReplyStatus, ReplyDate, Status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserSpaceMsg
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from UserSpaceMsg
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.UserSpaceMsg" >
    insert into UserSpaceMsg (TabId, UserSpaceId, UserId, 
      MsgContent, ReplyId, MsgDate, 
      ReplyStatus, ReplyDate, Status
      )
    values (#{tabid,jdbcType=INTEGER}, #{userspaceid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{msgcontent,jdbcType=VARCHAR}, #{replyid,jdbcType=INTEGER}, #{msgdate,jdbcType=TIMESTAMP}, 
      #{replystatus,jdbcType=TINYINT}, #{replydate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.UserSpaceMsg" >
    insert into UserSpaceMsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="userspaceid != null" >
        UserSpaceId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="msgcontent != null" >
        MsgContent,
      </if>
      <if test="replyid != null" >
        ReplyId,
      </if>
      <if test="msgdate != null" >
        MsgDate,
      </if>
      <if test="replystatus != null" >
        ReplyStatus,
      </if>
      <if test="replydate != null" >
        ReplyDate,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="userspaceid != null" >
        #{userspaceid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="msgcontent != null" >
        #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="replyid != null" >
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="msgdate != null" >
        #{msgdate,jdbcType=TIMESTAMP},
      </if>
      <if test="replystatus != null" >
        #{replystatus,jdbcType=TINYINT},
      </if>
      <if test="replydate != null" >
        #{replydate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.UserSpaceMsg" >
    update UserSpaceMsg
    <set >
      <if test="userspaceid != null" >
        UserSpaceId = #{userspaceid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="msgcontent != null" >
        MsgContent = #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="replyid != null" >
        ReplyId = #{replyid,jdbcType=INTEGER},
      </if>
      <if test="msgdate != null" >
        MsgDate = #{msgdate,jdbcType=TIMESTAMP},
      </if>
      <if test="replystatus != null" >
        ReplyStatus = #{replystatus,jdbcType=TINYINT},
      </if>
      <if test="replydate != null" >
        ReplyDate = #{replydate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.UserSpaceMsg" >
    update UserSpaceMsg
    set UserSpaceId = #{userspaceid,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=INTEGER},
      MsgContent = #{msgcontent,jdbcType=VARCHAR},
      ReplyId = #{replyid,jdbcType=INTEGER},
      MsgDate = #{msgdate,jdbcType=TIMESTAMP},
      ReplyStatus = #{replystatus,jdbcType=TINYINT},
      ReplyDate = #{replydate,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <!-- 获取用户空间所有留言 -->
  <select id="getUserSpaceMsgsById" resultType="com.goldeneyes.pojo.UserSpaceMsg">
  	select um.UserId,um.MsgContent,um.ReplyId,um.MsgDate 
  	from UserSpaceMsg um 
  	where um.Status = 1 and um.UserSpaceId = #{0}
  	order by um.MsgDate desc
  </select>
  <!-- 获取用户用户空间所有未读留言回复条数 -->
  <select id="getUserSpaceMsgReplysCntByUser" resultType="java.lang.Integer">
  	select COUNT(um.TabId) 
  	from UserSpaceMsg um 
  	where um.Status = 1 and um.ReplyStatus = 0 and um.ReplyId = #{0}
  </select>
  <!-- 获取用户用户空间所有未读留言回复列表 -->
  <select id="getUserSpaceMsgReplysByUser" resultType="com.goldeneyes.pojo.UserSpaceMsg">
  	select um.UserId,um.UserSpaceId,um.MsgContent
  	from UserSpaceMsg um 
  	where um.Status = 1 and um.ReplyStatus = 0 and um.ReplyId = #{0}
	order by um.MsgDate desc
  </select>
  <!-- 修改某用户空间留言回复查看状态 -->
  <update id="setUserSpaceMsgReplyByUser" parameterType="com.goldeneyes.pojo.UserSpaceMsg" >
    update UserSpaceMsg
    set 
      ReplyStatus = 1,
      ReplyDate = getdate()
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <!-- 删除某用户空间的留言 -->
  <delete id="deleteByUserSpaceId" parameterType="java.lang.Integer" >
    delete from UserSpaceMsg
    where UserSpaceId = #{userspaceid,jdbcType=INTEGER}
  </delete>
</mapper>