<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.UserSpaceMapper">
	<resultMap id="BaseResultMap" type="com.goldeneyes.pojo.UserSpace">
		<id column="TabId" property="tabid" jdbcType="INTEGER" />
		<result column="UserId" property="userid" jdbcType="INTEGER" />
		<result column="MsgContent" property="msgcontent" jdbcType="VARCHAR" />
		<result column="EncType" property="enctype" jdbcType="TINYINT" />
		<result column="EncAddr" property="encaddr" jdbcType="VARCHAR" />
		<result column="EncImgAddr" property="encimgaddr" jdbcType="VARCHAR" />
		<result column="EncIntro" property="encintro" jdbcType="VARCHAR" />
		<result column="PublisherId" property="publisherid" jdbcType="INTEGER" />
		<result column="PublishDate" property="publishdate" jdbcType="TIMESTAMP" />
		<result column="NoteType" property="notetype" jdbcType="TINYINT" />
		<result column="Status" property="status" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		TabId, UserId, MsgContent, EncType, EncAddr, EncImgAddr, EncIntro,
		PublisherId, PublishDate,
		NoteType, Status
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from UserSpace
		where TabId = #{tabid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from UserSpace
		where TabId = #{tabid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.goldeneyes.pojo.UserSpace">
		insert into UserSpace (UserId, MsgContent,
		EncType, EncAddr, EncImgAddr,
		EncIntro, PublisherId, PublishDate,
		NoteType, Status)
		values (#{userid,jdbcType=INTEGER},
		#{msgcontent,jdbcType=VARCHAR},
		#{enctype,jdbcType=TINYINT}, #{encaddr,jdbcType=VARCHAR}, #{encimgaddr,jdbcType=VARCHAR},
		#{encintro,jdbcType=VARCHAR}, #{publisherid,jdbcType=INTEGER},
		#{publishdate,jdbcType=TIMESTAMP},
		#{notetype,jdbcType=TINYINT}, #{status,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.goldeneyes.pojo.UserSpace">
		insert into UserSpace
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tabid != null">
				TabId,
			</if>
			<if test="userid != null">
				UserId,
			</if>
			<if test="msgcontent != null">
				MsgContent,
			</if>
			<if test="enctype != null">
				EncType,
			</if>
			<if test="encaddr != null">
				EncAddr,
			</if>
			<if test="encimgaddr != null">
				EncImgAddr,
			</if>
			<if test="encintro != null">
				EncIntro,
			</if>
			<if test="publisherid != null">
				PublisherId,
			</if>
			<if test="publishdate != null">
				PublishDate,
			</if>
			<if test="notetype != null">
				NoteType,
			</if>
			<if test="status != null">
				Status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tabid != null">
				#{tabid,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="msgcontent != null">
				#{msgcontent,jdbcType=VARCHAR},
			</if>
			<if test="enctype != null">
				#{enctype,jdbcType=TINYINT},
			</if>
			<if test="encaddr != null">
				#{encaddr,jdbcType=VARCHAR},
			</if>
			<if test="encimgaddr != null">
				#{encimgaddr,jdbcType=VARCHAR},
			</if>
			<if test="encintro != null">
				#{encintro,jdbcType=VARCHAR},
			</if>
			<if test="publisherid != null">
				#{publisherid,jdbcType=INTEGER},
			</if>
			<if test="publishdate != null">
				#{publishdate,jdbcType=TIMESTAMP},
			</if>
			<if test="notetype != null">
				#{notetype,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.UserSpace">
		update UserSpace
		<set>
			<if test="userid != null">
				UserId = #{userid,jdbcType=INTEGER},
			</if>
			<if test="msgcontent != null">
				MsgContent = #{msgcontent,jdbcType=VARCHAR},
			</if>
			<if test="enctype != null">
				EncType = #{enctype,jdbcType=TINYINT},
			</if>
			<if test="encaddr != null">
				EncAddr = #{encaddr,jdbcType=VARCHAR},
			</if>
			<if test="encimgaddr != null">
				EncImgAddr = #{encimgaddr,jdbcType=VARCHAR},
			</if>
			<if test="encintro != null">
				EncIntro = #{encintro,jdbcType=VARCHAR},
			</if>
			<if test="publisherid != null">
				PublisherId = #{publisherid,jdbcType=INTEGER},
			</if>
			<if test="publishdate != null">
				PublishDate = #{publishdate,jdbcType=TIMESTAMP},
			</if>
			<if test="notetype != null">
				NoteType = #{notetype,jdbcType=TINYINT},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=TINYINT},
			</if>
		</set>
		where TabId = #{tabid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.UserSpace">
		update UserSpace
		set UserId = #{userid,jdbcType=INTEGER},
		MsgContent = #{msgcontent,jdbcType=VARCHAR},
		EncType = #{enctype,jdbcType=TINYINT},
		EncAddr = #{encaddr,jdbcType=VARCHAR},
		EncImgAddr = #{encimgaddr,jdbcType=VARCHAR},
		EncIntro = #{encintro,jdbcType=VARCHAR},
		PublisherId = #{publisherid,jdbcType=INTEGER},
		PublishDate = #{publishdate,jdbcType=TIMESTAMP},
		NoteType = #{notetype,jdbcType=TINYINT},
		Status = #{status,jdbcType=TINYINT}
		where TabId = #{tabid,jdbcType=INTEGER}
	</update>
	<!-- 获取所有用户空间的信息 -->
	<select id="getAllUserSpace" resultType="com.goldeneyes.pojo.UserSpace">
		select TabId, UserId, MsgContent, PublisherId, PublishDate
		from UserSpace where Status = 1 order by PublishDate desc
	</select>

	<!-- 取用户空间表的最大ID+1 -->
	<select id="getMaxId" resultType="java.lang.Integer">
		select isnull(MAX(u.TabId) + 1,1) from UserSpace u
	</select>

	<!-- 获取用户未读用户空间条数 -->
	<select id="getNoReadUserSpacesCntByUser" resultType="java.lang.Integer">
		select COUNT(u.TabId)
		from SpaceContentStatus ss,UserSpace u
		where ss.SpaceId=u.TabId and ss.IsRead=0 and u.Status=#{1} and ss.SpaceType=3
		and ss.UserId = #{0}
	</select>
	<!-- 获取用户未读用户空间列表 -->
	<select id="getNoReadUserSpacesByUser" resultType="com.goldeneyes.pojo.UserSpace">
		select top(#{3})
		u.TabId,u.UserId,u.MsgContent,u.PublisherId,u.PublishDate,u.NoteType
		,u.EncType,u.EncAddr,u.EncImgAddr,u.EncIntro
		from SpaceContentStatus ss,UserSpace u
		where ss.SpaceId=u.TabId and ss.IsRead=0 and u.Status=1 and
		ss.SpaceType=#{1} and ss.UserId = #{0}
		and u.TabId not in (select top((#{2}-1) * #{3}) u.TabId
		from SpaceContentStatus ss,UserSpace u
		where ss.SpaceId=u.TabId and ss.IsRead=0 and u.Status=1 and
		ss.SpaceType=#{1} and ss.UserId = #{0}
		order by u.PublishDate desc)
		order by u.PublishDate desc
	</select>
	<!-- 获取用户未读某用户空间条数 -->
	<select id="getNoReadUserSpacesCntByUserForPublisher"
		resultType="java.lang.Integer">
		select COUNT(u.TabId)
		from SpaceContentStatus ss,UserSpace u
		where ss.SpaceId=u.TabId and ss.IsRead=0 and u.Status=#{1} and ss.SpaceType=3
		and ss.UserId = #{0}
		and u.PublisherId = #{2}
	</select>
	<!-- 获取用户未读某用户空间列表 -->
	<select id="getNoReadUserSpacesByUserForPublisher" resultType="com.goldeneyes.pojo.UserSpace">
		select top(#{3})
		u.TabId,u.UserId,u.MsgContent,u.PublisherId,u.PublishDate,u.NoteType
		,u.EncType,u.EncAddr,u.EncImgAddr,u.EncIntro
		from SpaceContentStatus ss,UserSpace u
		where ss.SpaceId=u.TabId and ss.IsRead=0 and u.Status=1 and
		ss.SpaceType=#{1} and ss.UserId = #{0}
		and u.PublisherId = #{4}
		and u.TabId not in (select top((#{2}-1) * #{3}) u.TabId
		from SpaceContentStatus ss,UserSpace u
		where ss.SpaceId=u.TabId and ss.IsRead=0 and u.Status=1 and
		ss.SpaceType=#{1} and ss.UserId = #{0}
		and u.PublisherId = #{4}
		order by u.PublishDate desc)
		order by u.PublishDate desc
	</select>
	<!-- 获取用户某条用户空间是否点赞 -->
	<select id="getIsLikeUserSpaceByUser" resultType="java.lang.Integer">
		select count(ss.IsLike) likeCnt
		from SpaceContentStatus ss
		where ss.SpaceType=#{1} and ss.SpaceId = #{2} and ss.UserId = #{0} and
		ss.IsLike = 1
	</select>
	<!-- 获取用户空间所有点赞用户 -->
	<select id="getIsLikeUsersById" resultType="java.lang.Integer">
		select ss.UserId
		from SpaceContentStatus ss
		where ss.SpaceType = 3 and ss.IsLike = 1 and ss.SpaceId = #{0}
	</select>
	<!-- 获取某学生用户空间条数 -->
	<select id="getUserSpacesCntByUser" resultType="java.lang.Integer">
		select count(u.TabId)
		from UserSpace u
		where u.Status = 1 and u.UserId = #{0}
	</select>
	<!-- 获取某学生用户空间列表 -->
	<select id="getUserSpacesByUser" resultType="com.goldeneyes.pojo.UserSpace">
		select top(#{2}) u.TabId,u.MsgContent,u.PublisherId,u.PublishDate,u.NoteType
		,u.EncType,u.EncAddr,u.EncImgAddr,u.EncIntro
		from UserSpace u
		where u.Status = 1 and u.UserId = #{0}
		and u.TabId not in (select top((#{1}-1) * #{2}) u.TabId
		from UserSpace u
		where u.Status = 1 and u.UserId = #{0}
		order by u.PublishDate desc)
		order by u.PublishDate desc
	</select>
	<!-- 获取某条用户空间信息 -->
	<select id="getUserSpaceById" resultType="com.goldeneyes.pojo.UserSpace">
		select u.TabId,u.UserId,u.MsgContent,u.PublisherId,u.PublishDate,u.NoteType
		,u.EncType,u.EncAddr,u.EncImgAddr,u.EncIntro
		from UserSpace u
		where u.Status = 1 and u.TabId = #{0}
	</select>
	<!-- 屏蔽某学生某用户空间信息 -->
	<update id="setOffUserSpaceById" parameterType="com.goldeneyes.pojo.UserSpace">
		update UserSpace
		set
		Status = 0
		where TabId = #{tabid,jdbcType=INTEGER}
	</update>
	<!-- 获取与我相关的数量 -->
	<select id="getAboutMeCnt" resultType="java.lang.Integer">
		select COUNT(*) from
		(select 1 MsgType,uc.UserId,uc.CommentDate MsgDate from UserSpace
		u,UserSpaceComment uc
		where u.TabId = uc.UserSpaceId and u.UserId = #{0}
		union
		select 2 MsgType,uc.UserId,uc.CommentDate MsgDate from UserSpace
		u,UserSpaceComment uc
		where u.TabId = uc.UserSpaceId and uc.ReplyId = #{0}
		union
		select 3 MsgType,ss.UserId,ss.LikeDate MsgDate from UserSpace
		u,SpaceContentStatus ss
		where u.TabId = ss.SpaceId and ss.SpaceType = 3 and u.UserId = #{0} and
		ss.IsLike = 1
		union
		select 4 MsgType,um.UserId,um.MsgDate from UserSpace u,UserSpaceMsg um
		where u.TabId = um.UserSpaceId and u.UserId = #{0}
		union
		select 5 MsgType,um.UserId,um.MsgDate from UserSpace u,UserSpaceMsg um
		where u.TabId = um.UserSpaceId and um.ReplyId = #{0}) AboutMe
	</select>
	<!-- 获取与我相关 -->
	<select id="getAboutMe" resultType="com.goldeneyes.vo.AboutMe">
		select top(#{2})
		MsgType,UserId,MsgDate,TabId from
		(select 1 MsgType,uc.UserId,uc.CommentDate MsgDate,uc.TabId from UserSpace
		u,UserSpaceComment uc
		where u.TabId = uc.UserSpaceId and u.UserId = #{0}
		union
		select 2 MsgType,uc.UserId,uc.CommentDate MsgDate,uc.TabId from UserSpace
		u,UserSpaceComment uc
		where u.TabId = uc.UserSpaceId and uc.ReplyId = #{0}
		union
		select 3 MsgType,ss.UserId,ss.LikeDate MsgDate,ss.TabId from UserSpace
		u,SpaceContentStatus ss
		where u.TabId = ss.SpaceId and ss.SpaceType = 3 and u.UserId = #{0} and
		ss.IsLike = 1
		union
		select 4 MsgType,um.UserId,um.MsgDate,um.TabId from UserSpace u,UserSpaceMsg um
		where u.TabId = um.UserSpaceId and u.UserId = #{0}
		union
		select 5 MsgType,um.UserId,um.MsgDate,um.TabId from UserSpace u,UserSpaceMsg um
		where u.TabId = um.UserSpaceId and um.ReplyId = #{0}) AboutMe
		where cast(MsgType as varchar(10)) + '-' + cast(TabId as varchar(10)) not in (select top((#{1}-1) * #{2}) 
		cast(MsgType as varchar(10)) + '-' + cast(TabId as varchar(10)) from
		(select 1 MsgType,uc.UserId,uc.CommentDate MsgDate,uc.TabId from UserSpace
		u,UserSpaceComment uc
		where u.TabId = uc.UserSpaceId and u.UserId = #{0}
		union
		select 2 MsgType,uc.UserId,uc.CommentDate MsgDate,uc.TabId from UserSpace
		u,UserSpaceComment uc
		where u.TabId = uc.UserSpaceId and uc.ReplyId = #{0}
		union
		select 3 MsgType,ss.UserId,ss.LikeDate MsgDate,ss.TabId from UserSpace
		u,SpaceContentStatus ss
		where u.TabId = ss.SpaceId and ss.SpaceType = 3 and u.UserId = #{0} and
		ss.IsLike = 1
		union
		select 4 MsgType,um.UserId,um.MsgDate,um.TabId from UserSpace u,UserSpaceMsg um
		where u.TabId = um.UserSpaceId and u.UserId = #{0}
		union
		select 5 MsgType,um.UserId,um.MsgDate,um.TabId from UserSpace u,UserSpaceMsg um
		where u.TabId = um.UserSpaceId and um.ReplyId = #{0}) AboutMe
		order by MsgDate desc)
		order by MsgDate desc
	</select>
</mapper>