<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.UserSpaceCommentMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.UserSpaceComment" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="UserSpaceId" property="userspaceid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="CommentContent" property="commentcontent" jdbcType="VARCHAR" />
    <result column="ReplyId" property="replyid" jdbcType="INTEGER" />
    <result column="CommentDate" property="commentdate" jdbcType="TIMESTAMP" />
    <result column="ReplyStatus" property="replystatus" jdbcType="TINYINT" />
    <result column="ReplyDate" property="replydate" jdbcType="TIMESTAMP" />
    <result column="Status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, UserSpaceId, UserId, CommentContent, ReplyId, CommentDate, ReplyStatus, ReplyDate, 
    Status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserSpaceComment
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from UserSpaceComment
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.UserSpaceComment" >
    insert into UserSpaceComment (TabId, UserSpaceId, UserId, 
      CommentContent, ReplyId, CommentDate, 
      ReplyStatus, ReplyDate, Status
      )
    values (#{tabid,jdbcType=INTEGER}, #{userspaceid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{commentcontent,jdbcType=VARCHAR}, #{replyid,jdbcType=INTEGER}, #{commentdate,jdbcType=TIMESTAMP}, 
      #{replystatus,jdbcType=TINYINT}, #{replydate,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.UserSpaceComment" >
    insert into UserSpaceComment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="userspaceid != null" >
        UserSpaceId,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="commentcontent != null" >
        CommentContent,
      </if>
      <if test="replyid != null" >
        ReplyId,
      </if>
      <if test="commentdate != null" >
        CommentDate,
      </if>
      <if test="replystatus != null" >
        ReplyStatus,
      </if>
      <if test="replydate != null" >
        ReplyDate,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="userspaceid != null" >
        #{userspaceid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null" >
        #{commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="replyid != null" >
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="commentdate != null" >
        #{commentdate,jdbcType=TIMESTAMP},
      </if>
      <if test="replystatus != null" >
        #{replystatus,jdbcType=TINYINT},
      </if>
      <if test="replydate != null" >
        #{replydate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.UserSpaceComment" >
    update UserSpaceComment
    <set >
      <if test="userspaceid != null" >
        UserSpaceId = #{userspaceid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="commentcontent != null" >
        CommentContent = #{commentcontent,jdbcType=VARCHAR},
      </if>
      <if test="replyid != null" >
        ReplyId = #{replyid,jdbcType=INTEGER},
      </if>
      <if test="commentdate != null" >
        CommentDate = #{commentdate,jdbcType=TIMESTAMP},
      </if>
      <if test="replystatus != null" >
        ReplyStatus = #{replystatus,jdbcType=TINYINT},
      </if>
      <if test="replydate != null" >
        ReplyDate = #{replydate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.UserSpaceComment" >
    update UserSpaceComment
    set UserSpaceId = #{userspaceid,jdbcType=INTEGER},
      UserId = #{userid,jdbcType=INTEGER},
      CommentContent = #{commentcontent,jdbcType=VARCHAR},
      ReplyId = #{replyid,jdbcType=INTEGER},
      CommentDate = #{commentdate,jdbcType=TIMESTAMP},
      ReplyStatus = #{replystatus,jdbcType=TINYINT},
      ReplyDate = #{replydate,jdbcType=TIMESTAMP},
      Status = #{status,jdbcType=TINYINT}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
</mapper>