<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goldeneyes.IDao.UserSpaceEncMapper" >
  <resultMap id="BaseResultMap" type="com.goldeneyes.pojo.UserSpaceEnc" >
    <id column="TabId" property="tabid" jdbcType="INTEGER" />
    <result column="UserSpaceId" property="userspaceid" jdbcType="INTEGER" />
    <result column="EncType" property="enctype" jdbcType="VARCHAR" />
    <result column="EncName" property="encname" jdbcType="VARCHAR" />
    <result column="EncAddr" property="encaddr" jdbcType="VARCHAR" />
    <result column="EncImgAddr" property="encimgaddr" jdbcType="VARCHAR" />
    <result column="PublisherId" property="publisherid" jdbcType="INTEGER" />
    <result column="PublishDate" property="publishdate" jdbcType="TIMESTAMP" />
    <result column="EncOrder" property="encorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    TabId, UserSpaceId, EncType, EncName, EncAddr, EncImgAddr, PublisherId, PublishDate, 
    EncOrder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserSpaceEnc
    where TabId = #{tabid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from UserSpaceEnc
    where TabId = #{tabid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.goldeneyes.pojo.UserSpaceEnc" >
    insert into UserSpaceEnc (TabId, UserSpaceId, EncType, 
      EncName, EncAddr, EncImgAddr, 
      PublisherId, PublishDate, EncOrder
      )
    values (#{tabid,jdbcType=INTEGER}, #{userspaceid,jdbcType=INTEGER}, #{enctype,jdbcType=VARCHAR}, 
      #{encname,jdbcType=VARCHAR}, #{encaddr,jdbcType=VARCHAR}, #{encimgaddr,jdbcType=VARCHAR}, 
      #{publisherid,jdbcType=INTEGER}, #{publishdate,jdbcType=TIMESTAMP}, #{encorder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.goldeneyes.pojo.UserSpaceEnc" >
    insert into UserSpaceEnc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        TabId,
      </if>
      <if test="userspaceid != null" >
        UserSpaceId,
      </if>
      <if test="enctype != null" >
        EncType,
      </if>
      <if test="encname != null" >
        EncName,
      </if>
      <if test="encaddr != null" >
        EncAddr,
      </if>
      <if test="encimgaddr != null" >
        EncImgAddr,
      </if>
      <if test="publisherid != null" >
        PublisherId,
      </if>
      <if test="publishdate != null" >
        PublishDate,
      </if>
      <if test="encorder != null" >
        EncOrder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tabid != null" >
        #{tabid,jdbcType=INTEGER},
      </if>
      <if test="userspaceid != null" >
        #{userspaceid,jdbcType=INTEGER},
      </if>
      <if test="enctype != null" >
        #{enctype,jdbcType=VARCHAR},
      </if>
      <if test="encname != null" >
        #{encname,jdbcType=VARCHAR},
      </if>
      <if test="encaddr != null" >
        #{encaddr,jdbcType=VARCHAR},
      </if>
      <if test="encimgaddr != null" >
        #{encimgaddr,jdbcType=VARCHAR},
      </if>
      <if test="publisherid != null" >
        #{publisherid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null" >
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="encorder != null" >
        #{encorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.goldeneyes.pojo.UserSpaceEnc" >
    update UserSpaceEnc
    <set >
      <if test="userspaceid != null" >
        UserSpaceId = #{userspaceid,jdbcType=INTEGER},
      </if>
      <if test="enctype != null" >
        EncType = #{enctype,jdbcType=VARCHAR},
      </if>
      <if test="encname != null" >
        EncName = #{encname,jdbcType=VARCHAR},
      </if>
      <if test="encaddr != null" >
        EncAddr = #{encaddr,jdbcType=VARCHAR},
      </if>
      <if test="encimgaddr != null" >
        EncImgAddr = #{encimgaddr,jdbcType=VARCHAR},
      </if>
      <if test="publisherid != null" >
        PublisherId = #{publisherid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null" >
        PublishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="encorder != null" >
        EncOrder = #{encorder,jdbcType=INTEGER},
      </if>
    </set>
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.goldeneyes.pojo.UserSpaceEnc" >
    update UserSpaceEnc
    set UserSpaceId = #{userspaceid,jdbcType=INTEGER},
      EncType = #{enctype,jdbcType=VARCHAR},
      EncName = #{encname,jdbcType=VARCHAR},
      EncAddr = #{encaddr,jdbcType=VARCHAR},
      EncImgAddr = #{encimgaddr,jdbcType=VARCHAR},
      PublisherId = #{publisherid,jdbcType=INTEGER},
      PublishDate = #{publishdate,jdbcType=TIMESTAMP},
      EncOrder = #{encorder,jdbcType=INTEGER}
    where TabId = #{tabid,jdbcType=INTEGER}
  </update>
</mapper>